# ── Django ──
SECRET_KEY=kSuPMLH@I6daB3Rfq5=ClXceII0j4v6T&n1tTyvLTTaV!_C$ij
DEBUG=True

CSRF_TRUSTED_ORIGINS = 
# ── Database (Supabase) ──
DB_NAME=postgres
DB_USER=postgres.djjshelinxxwwibfteyy
DB_PASSWORD=Nyumbachap@123
DB_HOST=aws-0-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_CONN_MAX_AGE=0

# ── WhatsApp (Meta Cloud API) ──
WHATSAPP_API_TOKEN=EAAcH2baTuTgBSS5TfmQ9zATnMGRiAmMLabQtRRq5e9l6XTAGjyFeKYx4YZAM61o3V1EUflMqABZBnDGUblKBzky0yPHME1yPBY8bWVGI30aCD0l0FZAkV9hsAvYCl0BiYZATydTJoPydFMxbNYZCFNZCztFvcQf4iDXEVtBoklpKFpU4DAg3wVeMoH5AaSgc6nZBsciyiJZAabVq0oFZCMYeTo4ZBjOlGjZCQio9wJusLZBISxZAVKqyZBDHf4KRH53sGuyzvXaNAzzWdZCI17CHpp1BWKT
WHATSAPP_PHONE_NUMBER_ID=1057453324112615
WHATSAPP_BUSINESS_ACCOUNT_ID=1932975290694453
WHATSAPP_VERIFY_TOKEN=kilimoni-2026-tz-8x4k
WHATSAPP_API_VERSION=v21.0

# ── Groq AI ──
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile

